.zw_user {
    position: relative;
    color: rgb(51, 51, 51);
    font-size: 18px;
    font-style: normal;
    font-weight: bold;
    transform-origin: 42.5px 12px;
    word-wrap: break-word;
}
textarea {
    background-color: transparent;
    text-align: center;
    display: table-cell;
    vertical-align: middle;
    width: 100%;
    height: 100%;
    overflow: hidden;
    border: none;
    resize: none;
}
#search {
    text-align: center;
}

