.loginForm
{
    background-color: #ffffff;
    border-radius: 5px ;
    padding-bottom: 40px;
    padding-top: 10px;
    opacity:0.96;
}
.loginBackground
{
    width:100%; height:100%; background-image:url("../img/z_p1bg.jpg");
    background-position-x: center;
    background-position-y: center;
    background-size: cover;
    background-repeat:no-repeat;
    background-attachment: fixed;
    background-origin: initial;
    background-clip: initial;
    background-color: initial;"no-repeat center fixed;
}
.loginLogo
{
    background-image:url("../img/z_p1logo.png");
    background-position-x: center;
    background-position-y: center;
    background-repeat:no-repeat;
    height: 100px;
}

.loginLine
{
    border-top:none;
    border-left: none;
    border-right: none;
}

.zFont1{
    font-family: 'Arial Negreta', 'Arial Normal', 'Arial';
    font-weight: 700;
    font-style: normal;
    font-size: 18px;
    color: #45667E;

}
.zFont2{
    padding-top: 7px;
    padding-bottom: 7px;
    color: #486c82;

}
.zFont3{
    font-family: 'Arial Negreta', 'Arial Normal', 'Arial';
    font-weight: 700;
    font-style: normal;
    font-size: 15px;
    color: #009900;
}

.zFont4{
    text-shadow: #717171;
    text-decoration-color: #486c82;
    color: #486c82;

    font-weight: lighter;

}
.zFont5{
    font-size: 15px;
    box-shadow: none;
    font-family: 'Arial Negreta', 'Arial Normal', 'Arial';
    font-weight: 700;
    font-style: normal;
    color: #CC0000;
}
.zFont6{
    font-family: 'Arial Negreta', 'Arial Normal', 'Arial';
    font-weight: 700;
    font-style: normal;
    font-size: 15px;
    color: #45667E;
}

.inputOpacity{

   background-color: transparent;
    border-top:none;
    border-left: none;
    border-right: none;
    border-bottom: none;
    vertical-align:top;
}
.showLine{
    background: #CCCCCC;
    height: 2px;

}