.loginForm
{
    background-color: #ffffff;
    border-radius: 5px ;
    padding-bottom: 40px;
    padding-top: 10px;
    opacity:0.96;
}
.loginBackground
{
    width:100%; height:100%; background-image:url("../img/z_p1bg.jpg");
    background-position-x: center;
    background-position-y: center;
    background-size: cover;
    background-repeat:no-repeat;
    background-attachment: fixed;
    background-origin: initial;
    background-clip: initial;
    background-color: initial;"no-repeat center fixed;
}
.loginLogo
{
    background-image:url("../img/z_p1logo.png");
    background-position-x: center;
    background-position-y: center;
    background-repeat:no-repeat;
    height: 100px;
}

.loginLine
{
    border-top:none;
    border-left: none;
    border-right: none;
}

.zFont1{
    font-family: 'Arial Negreta', 'Arial Normal', 'Arial';
    font-weight: 700;
    font-style: normal;
    font-size: 18px;
    color: #45667E;

}
.zFont2{
    padding-top: 7px;
    padding-bottom: 7px;
    color: #486c82;

}
.zFont3{
    font-family: 'Arial Negreta', 'Arial Normal', 'Arial';
    font-weight: 700;
    font-style: normal;
    font-size: 15px;
    color: #009900;
}

.zFont4{
    text-shadow: #717171;
    text-decoration-color: #486c82;
    color: #486c82;

    font-weight: lighter;

}
.zFont5{
    font-size: 15px;
    box-shadow: none;
    font-family: 'Arial Negreta', 'Arial Normal', 'Arial';
    font-weight: 700;
    font-style: normal;
    color: #CC0000;
}
.zFont6{
    font-family: 'Arial Negreta', 'Arial Normal', 'Arial';
    font-weight: 700;
    font-style: normal;
    font-size: 15px;
    color: #45667E;
}

.inputOpacity{

   background-color: transparent;
    border-top:none;
    border-left: none;
    border-right: none;
    border-bottom: none;
    vertical-align:top;
}
.showLine{
    background: #CCCCCC;
    height: 2px;

}

.zDisBlank{
    border-width: 0px;
    position: absolute;
    left: 60px;
    top: 49px;
    width: 140px;
    height: 190px;
    color: #C9C9C9;
    line-height: 20px;
}

.zDisBlank1{
    border-width: 0px;
    position: absolute;
    left: 0px;
    top: 0px;
    width: 140px;
    height: 190px;
    background: inherit;
    background-color: rgba(215, 215, 215, 1);
    border: none;
    border-radius: 0px;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    color: #C9C9C9;
    line-height: 20px;

}

.zDisBlank3{
    border-width: 0px;
    position: absolute;
    left: 6px;
    top: 5px;
    width: 128px;
    height: 180px;
    background: inherit;
    background-color: rgba(255, 255, 255, 1);
    box-sizing: border-box;
    border-width: 1px;
    border-style: solid;
    border-color: rgba(121, 121, 121, 1);
    border-radius: 0px;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    color: #C9C9C9;
    text-align: left;
    line-height: 20px;
}
.ax_default{
    font-family: 'Arial Normal', 'Arial';
    font-weight: 400;
    font-style: normal;
    font-size: 13px;
    color: #333333;
    text-align: center;
}
